@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(107.89deg, #9733EE -25.36%, #482C77 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-oona-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(125 53 204 / var(--tw-bg-opacity));
}

.hover\:bg-oona-purple:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 45 119 / var(--tw-bg-opacity));
}